.li-inv {
  font-size: 2em;
  text-align: center;
}

.li-inv header {
  margin-top: 30px;
  color: blue;
}

.li-inv ul {
  list-style-type: square;
}

.li-inv li {
  list-style: square;
  text-decoration: none;
  padding: 20px;
  color: purple;
}
