body{
    margin: 0;
    padding: 0;
    background: rgb(76, 8, 179);
}

nav{
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    box-shadow: 5px;
}

ul {
    flex: 1;
    display: flex;
    max-width: 50%;
    justify-content: space-evenly;
}

ul, li{
    margin: 0;
    padding: 0;
    display: inline;
}

a{
    text-decoration: none;
}