body{
    margin: 0;
    padding: 0;
    background: rgb(79, 154, 112);
}

nav{
    box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    font-size: 1.5em;
    height: 80px;
    background: #fff;
}

a {
    text-decoration: none;
}

nav ul{
    display: flex;
    flex: 1;
    max-width: 20%;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
}
section {
    width: 50%;
    font-size: 1.5em;
    margin: auto;
    color: rgb(217, 225, 228);
}