<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <center>Create an Inventory</center>
    <div class="container">
        <form>
          <div class="">
            <label for="name">Inventory Name:</label>
            <input type="text" name="name" value="">
          </div>
          <div class="">
            <label for="textarea">Description:</label><br>
            <textarea name="textarea" rows="5" cols="60"></textarea><br>
          </div>
          <div class="">
            <label for="timezone">Choose a timezone:</label><br>
            <select class="" name="timezone">
              <option value="" selected>--Please select a timezone--</option>
              <option value="GMT">GMT</option>
              <option value="EAT">EAT</option>
              <option value="CET">CET</option>
              <option value="WAT">WAT</option>
              <option value="CAT">CAT</option>
              <option value="EET">EET</option>
              <option value="SAST">SAST</option>
            </select>
          </div>

        </form>
    </div>
</body>
</html>
