{% extends "dash.html" %}
{% block styles %}
    <link rel="stylesheet" href="/static/styles/dashboard.css">
{% endblock %}
{% block navhead %}
    <h3>My Dashboard</h3>
{% endblock %}
{% block content %}
    <div class="li-inv">
        <header>INVENTORY LIST</header>
        <ul>
        {% for inventory in user.inventories %}
	    <li>
                <a class="li-a" href="{{ url_for('inventory', inventory_id=inventory.id) }}" target="_blank">{{ inventory.name }}</a>
	    </li>
        {% endfor %}
	    <li>
                <a class="li-a" href="{{ url_for('add_inventory') }}" target="_blank">Create New Inventory</a>
	    </li>
        </ul>
    </div>
{% endblock %}
