<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles/home.css">
    </head>
    <body>
        <nav>
            <a href="#">Home</a>
            <ul>
                <li><a href="login.html">Sign In</a></li>
                <li><a href="signup.html">Sign Up</a></li>
            </ul>
        </nav>
        <section>
            <h1>Welcome to AB-Inventory Management System</h1>
            <h2>Simplify, Organize, and Optimize Your Inventory</h2>
            <p>
                Our Inventory Management System is designed to streamline your 
                inventory processes and make managing your products and supplies easier than ever. 
                Whether you're a small business, a retailer, or a warehouse, our system has you 
                covered. With our user-friendly interface and powerful features, you can:
                <ul>
                    <li>Track inventory levels in real-time.</li>
                    <li>Manage suppliers and purchase orders efficiently.</li>
                    <li>Monitor sales and customer orders effortlessly.</li>
                    <li>Stay organized with product categories</li>
                    <li>Get valuable insights with detailed reports.</li>
                </ul>
            </p>
        </section>
    </body>
</html>