<!DOCTYPE html>
<html>
    <head>
	<meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="/static/styles/body.css">
        <link rel="stylesheet" href="/static/styles/login.css">
    </head>
    <body class="body">
        <div id="login">
            <form method="POST" action="{{ url_for('signin') }}">
                <b><h1> Sign In </h1></b>
                <div class="input-box">
                    <input type="text" autofocus required name="username" placeholder="username or email">
		    <div id="u-nameErr" class="error"></div>
                </div>
                <div class="input-box">
                    <input type="password" required autofocus name="password" placeholder="password">
		    <div id="pwordErr" class="error"></div>
                </div>

                <div class="forgot"><a href="#">Forgot password?</a></div>

                <button>Sign in</button>
                <div id="sign">Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></div>
            </form>
        </div>
	{% if error == 'username' %}
	    <script>
	        const element = document.getElementById('u-nameErr');
		element.textContent = 'Username or Email is Wrong';
	    </script>
	{% elif error == 'password' %}
	    <script>
	        const element = document.getElementById('pwordErr');
		element.textContent = 'Password Incorrect';
	    </script>
	{% endif %}
    </body>
</html>
